
.button {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(27, 120, 151);
    background-color: rgb(27, 120, 151);
    color: black;
    text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0);
    border-radius: 12px;
    letter-spacing: 0.5px;
    position: relative;
  }
  
  .button:hover, .button:active {
    background-color: rgb(16, 67, 83);
    border-color: rgb(16, 67, 83);
  }